Content/Geometry/** filter=lfs diff=lfs merge=lfs -text
Content/Maps/** filter=lfs diff=lfs merge=lfs -text
Content/NPC/** filter=lfs diff=lfs merge=lfs -text
Content/Player/** filter=lfs diff=lfs merge=lfs -text
Content/Weapon/** filter=lfs diff=lfs merge=lfs -text
